<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- internet permissions and network state permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/shop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shooping"
        tools:targetApi="31">
        <activity
            android:name=".forgetpassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".yourcard"
            android:exported="false"
            android:label="@string/title_activity_yourcard"
            android:theme="@style/Theme.Shooping.NoActionBar" />
        <activity
            android:name=".yoursale"
            android:exported="false" />
        <activity
            android:name=".yourOrder"
            android:exported="false" />
        <activity
            android:name=".viewproduct"
            android:exported="false" />
        <activity
            android:name=".orderAc"
            android:exported="false" />
        <activity
            android:name=".saleactivity"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".btnnavView"
            android:exported="false" />
        <activity
            android:name=".signI"
            android:exported="false" />
        <activity
            android:name=".Sign_up"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>